# executables
*.exe
*.out

# module files
*.mod

# object files
*.o

# list of executables
hello_world
c2f
molar
sphere
dict
traverse
main
polar
format
file
*.bin
data.dat
*.csv
pointer
mpi_parallel
coarray_parallel

.DS_Store